// DPDnano_Lite_v3_2 - HW006 Input Memory

IO_LOC "clk_27mhz" 45;
IO_PORT "clk_27mhz" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "rst_n" 14;
IO_PORT "rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "uart_tx_o" 39;
IO_PORT "uart_tx_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "uart_rx_i" 40;
IO_PORT "uart_rx_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "led_busy" 41;
IO_PORT "led_busy" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "led_done" 42;
IO_PORT "led_done" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "led_error" 43;
IO_PORT "led_error" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
